@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline:0;
}

body, #root {
	width:100%;
	font: 400 14px Roboto, sans-serif;
	-webkit-font-smoothing:antialiased;
	background: #f1f1f1;
}

input, button, textarea {
	font: 400 18px Roboto, sans-serif;
}